h1{
    height: 300px;
width: 300px;
background-color: purple;
font-variant: normal;
text-align: center;
margin: 30px;
border-radius: 10cap;
padding: 0dvh;
list-style: circle;
border-style: dotted;
}
h2{
    height: 300px;
    width: 300px;
    background: green;
    font-variant: normal;
    text-align: center;
    margin: 30px;
border-style: double;
    padding: 0dvh;
    list-style: circle

}
p{
    text-align: center;
}
h1{
    text-decoration: solid underline;
}
h2{
    text-decoration: solid underline;
}
p{
    text-decoration: underline;
}
div{
    height: 300px;
    width: 300px;
    background-color: purple;
    padding: 20px;
text-align: center;
border: radius 100%;
}
div{
    height: 300px;
    width: 300px;
    background-color: purple;
    padding: 20px;
text-align: center;
border-radius: 80%;
}
div{
    height: 300px;
    width: 300px;
    background-color: purple;
    padding: 20px;
text-align: center;
border-radius: 60%;
}

